{% extends 'base.html' %}
{% block main %}
<div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                            </div>
                            <form class="user" action="/signin" method="POST" name="form" id="form_sign_in"
                                data-toggle="validator" role="form">
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                                        name="email" aria-describedby="emailHelp" placeholder="name@example.com" autofocus="required">
                                    <div class="help-block with-errors text-danger text-sm mt-2"></div>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-user"
                                        id="exampleInputPassword" name="password" placeholder="***********">
                                    <div class="help-block with-errors text-danger text-sm mt-2"></div>
                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox small">
                                        <input type="checkbox" class="custom-control-input" id="customCheck">
                                        <label class="custom-control-label" for="customCheck">Remember
                                            Me</label>
                                    </div>
                                </div>
                                <button type="button" id="signin_btn" class="btn btn-primary btn-user btn-block">Đăng
                                    nhập
                                    ngay
                                </button>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="signup">Create an Account!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block js %}
    <script>
        $(document).ready(function () {
            $("#signin_btn").click(function () {
                if ($("#form_sign_in").validator('validate').has('.has-error').length == 0) {
                    $.ajax({
                        url: "/signin",
                        type: "POST",
                        data: $("#form_sign_in").serialize(),
                        success: function (data) {
                            var json = $.parseJSON(data);
                            var result = json.result;

                            if (result.toString() == 'false') {
                                var error = json.error;
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: error,
                                })

                            } else {
                                location.href = 'register';
                            }
                        },
                        error: function (error) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Có lỗi xảy ra, vui lòng thử lại!',
                            })
                        }
                    });
                }
            });
        });
    </script>
    {% endblock %}